.project-item-cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    column-gap: 32px;
}

.project-item{
    display: flex;
    border-radius: 8px;
    outline: 1px solid #dfe6e9;
    flex-direction: column;
}

.project-image-cont{
    width: 100%;
    height: 160px;
    border-radius: 8px 8px 0 0;
    background: #dfe6e9;
}

.project-text-cont{
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.project-language-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    column-gap: 6px;
}

.project-language-text{
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 14px;
}

@media screen and (min-width: 1440px) {
    .project-item{
        width: calc(25% - 24px);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .project-item {
        width: calc((100% / 3) - 22px);
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .project-cont-subtitle{
        margin-bottom: 16px;
        font-size: 24px;
        margin-left: 8px;
    }

    .project-item-cont{
        gap: 16px;
        column-gap: 16px;
    }

    .project-item {
        width: calc(50% - 8px)
    }

    .project-language-text{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .project-cont-subtitle{
        margin-bottom: 16px;
        font-size: 24px;
        margin-left: 8px;
    }

    .project-item-cont{
        gap: 16px;
        column-gap: 0;
    }

    .project-item {
        flex-direction: row;
        width: 100%;
    }

    .project-image-cont {
        width: 36%;
        height: auto;
        border-radius: 8px 0 0 8px;
    }

    .project-text-cont {
        width: calc(64% - 32px);
    }
    
    .project-language-text {
        font-size: 12px;
    }
}