@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Parkinsans:wght@300..800&display=swap');

body{
  background: #f1f2f6;
  font-family: "Parkinsans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main>div:last-of-type{
  margin-bottom: 32px;
}

.el-2{
  display: flex;
  margin-top: 32px;
  justify-content: center;
  width: 100%;
  gap: 32px;
}

.b-2{
  width: calc(35% - 48px);
  padding: 32px;
  background: #fff;
  border-radius: 8px;
}

.el-1{
  display: flex;
  margin-top: 32px;
  justify-content: center;
  width: 100%;
}

.el-1:has(.b-e-1) {
  margin: 16px 0 -16px 0;
}

.b-1{
  width: 70%;
  padding: 32px;
  background: #fff;
  border-radius: 8px;
}

.b-e-1{
  width: calc(70% + 64px);
}

.cont-title{
  width: 100%;
  margin-bottom: 32px;
}

.text-1{
  font-size: 30px;
  color: #2f3542;
}

.text-2{
  font-size: 18px;
  color: #2f3542;
  font-weight: 500;
  line-height: 1.2;
}

.text-3{
  font-size: 16px;
  color: #57606f;
}

.text-4{
  font-size: 16px;
  color: #2f3542;
  line-height: 1.4;
}

.text-nav{
  font-size: 18px;
  color: #57606f;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
}

.link{
  color: #5352ed;
  fill: #5352ed;
  text-decoration: none;
}

.link:hover{
  color: #4242c2;
  fill: #4242c2;
}

.text-separator{
  color: #57606f;
  margin: 0 8px;
  font-size: 10px;
}

.spacer-1{
  margin-bottom: 8px;
}

.spacer-2{
  margin-bottom: 16px;
}

.spacer-3{
  margin-bottom: 32px;
}

.spacer-4{
  margin-bottom: 40px;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
}

.pointer{
  cursor: pointer;
}

ul {
  list-style: inside;
}

li:not(:last-child) { 
  margin-bottom: 8px;  
}

.btn{
  background: #5352ed;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover{
  background: #4242c2;
}

span.c{
  color: #5352ed;
}

.loading{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
   width: 24px;
   height: 24px;
   border-radius: 50%;
   border: 3.8px solid #ced6e0;
   animation: spinner-bulqg1 0.8s infinite linear alternate,
        spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
   0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
   }

   12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
   }

   25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
   }

   50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
   }

   62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
   }

   75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
   }

   100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
   }
}

@keyframes spinner-oaa3wk {
   0% {
      transform: scaleY(1) rotate(0deg);
   }

   49.99% {
      transform: scaleY(1) rotate(135deg);
   }

   50% {
      transform: scaleY(-1) rotate(0deg);
   }

   100% {
      transform: scaleY(-1) rotate(-135deg);
   }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .b-2{
    width: calc(40% - 48px);
  }

  .b-1{
    width: 80%;
  }

  .b-e-1{
    width: calc(80% + 64px);
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .main{
    padding: 0 64px;
  }

  .el-1{
    width: 100%;
  }

  .el-2{
    width: 100%;
    flex-wrap: wrap;
    margin-top: 32px;
  }

  .b-2{
    width: calc(100% - 64px);
  }

  .b-1{
    width: calc(100% - 64px);
  }

  .b-e-1{
    width: calc(100% + 64px);
  }

  .cont-title{
    margin-bottom: 32px;
  }

  .text-1{
    font-size: 24px;
  }

  .text-2{
    font-size: 16px;
  }
  
  .text-3{
    font-size: 14px;
  }
  
  .text-4{
    font-size: 14px;
  }

  .text-nav{
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .main{
    padding: 0 16px;
  }

  .el-1{
    width: 100%;
    margin-top: 16px;
  }  

  .el-2{
    width: 100%;
    margin-top: 16px;
    flex-wrap: wrap;
    gap: 16px;
  }

  .b-2{
    width: calc(100% - 32px);
    padding: 16px;
  }

  .b-1{
    width: calc(100% - 32px);
    padding: 16px;
  }

  .el-1:has(.b-e-1) {
    margin: 16px 0 0 0;
  }

  .b-e-1{
    width: calc(100% + 32px);
  }

  .cont-title{
    margin-bottom: 24px;
    margin-left: 8px;
    margin-top: 8px;
  }

  .text-1{
    font-size: 22px;
  }

  .text-2{
    font-size: 16px;
  }
  
  .text-3{
    font-size: 14px;
  }
  
  .text-4{
    font-size: 14px;
  }

  .text-nav{
    font-size: 16px;
  }
}